# IZV Task 2 - hypothesis testing

## Hypotesis 1
**The death probability on first class roads is the same as on highways**

Import the neccessary libraries

In [1]:
import pandas as pd
from scipy.stats import chi2_contingency

Load the dataframe

In [2]:
df = pd.read_pickle("accidents.pkl.gz")
df

,p1,p36,p37,p2a,weekday(p2a),p2b,p6,p7,p8,p9,...,l,n,o,p,q,r,s,t,p5a,region
0,002100160001,4,-1,2016-01-01,5,55,1,1,0,2,...,,711403,,Souhlasnýsesměremúseku,Pomalý,554782,451622,GN_V0.1UIR-ADR_410,1,PHA
1,002100160002,4,-1,2016-01-01,5,130,1,3,0,2,...,,,,,,-1,-1,,1,PHA
2,002100160003,5,-1,2016-01-01,5,100,1,2,0,2,...,,,,,,-1,-1,,1,PHA
3,002100160004,6,-1,2016-01-01,5,120,9,0,0,2,...,,,,,,-1,-1,,1,PHA
4,002100160005,6,-1,2016-01-01,5,2560,2,0,0,2,...,,,,,,-1,-1,,1,PHA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
572929,190906210457,6,-1,2021-08-30,1,506,2,0,0,2,...,,2611387,,,Pomalý,560359,-1,GN_V0.1UIR-ADR_410,1,KVK
572930,190906210458,6,-1,2021-08-30,1,752,2,0,0,2,...,,2541503,,Opačnýkesměruúseku,Pomalý,560383,550426,GN_V0.1UIR-ADR_410,1,KVK
572931,190906210459,3,2099,2021-08-30,1,1505,1,3,0,2,...,,,,,,-1,-1,,1,KVK
572932,190906210460,3,2099,2021-08-31,2,1245,0,0,0,1,...,2099,199764,,Opačnýkesměruúseku,Pomalý,560286,553654,GN_V0.1UIR-ADR_410,1,KVK
572933,190906210461,3,21029,2021-08-31,2,1834,3,0,4,1,...,21029,3650728,,Souhlasnýsesměremúseku,Pomalý,560324,-1,GN_V0.1UIR-ADR_410,2,KVK

Determine which accidents were fatal and limit the road types to highways and first class roads

In [3]:
df["fatal"] = df["p13a"] > 0
df = df[df["p36"].isin([0, 1])]

Create a contingency table

In [4]:
ct = pd.crosstab(index=df["fatal"], columns=df["p36"])
ct

p36        0      1
fatal
False  24293  78618
True     166    911

Compute $\chi^2$ test

In [5]:
res = chi2_contingency(ct)
res

(39.314921530329016,
 3.6067450279444316e-10,
 1,
 array([[24205.67901104, 78705.32098896],
        [  253.32098896,   823.67901104]]))

Find out the difference between the expected frequencies and actual results

In [7]:
ct - res[3]

p36            0          1
fatal
False  87.320989 -87.320989
True  -87.320989  87.320989

**Hypotesis 1 - Conclusion**

The p-value of $3.6\cdot10^{-10}$ is much smaller than $0.05$.
For this reason we consider the null hypothesis to be false
and declare that there is significant correlation between
the chance of fatal accidents on highways and first class roads.

From the difference between the expected and actual result
we can also see that first class roads caused more fatal injuries overall.